@font-face {
    font-family: Roca Two;
    src: url(font/RocaTwo.ttf);
}

body {
    background-color: #fefef1;
}

.aboutusdiv {
    border: solid;
    border-color: #6b8f58;
    background-color: #6b8f58;
    height: auto;
    width: auto;
}

h1 {
   text-align: center;
   font-family: Roca Two;
   color: #174929;
}

p {
    text-align: center;
    font-family: Roca Two;
    color: #174929;
    font-size: x-large;
}

h2 {
    text-align: center;
   font-family: Roca Two;
}

.social {
    color: black;
}

.buttondiv {
    text-align: center;  
    margin: auto;
    width: 60%;
    height: 60%;
}

.home {
    border-radius: 4px;
    background-color: #6b8f58;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: Roca Two;
  }
  
  .home span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .home span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .home:hover span {
    padding-right: 25px;
  }
  
  .home:hover span:after {
    opacity: 1;
    right: 0;
  }
